<!DOCTYPE html>
<html>
<head>
  <title>Pizza Shop</title>
  <link rel="stylesheet" href="/style.css">
  <link href="https://fonts.googleapis.com/css?family=Martel:300,700,900" rel="stylesheet">
</head>
<body>
  <div class="background">



    <div>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/pizza-orders">Pizza Orders</a></li>
          <li><a href="/pizza-orders/new">New Order</a></li>
        </ul>
      </nav>
    </div>

    <div class = "yield">
      <%= yield %>
    </div>

  </div>


</body>
</html>
