<form method="post" action="/pizza-orders">
  <label for="first-name">First name:</label>
  <input id="first-name" type="text" name="first_name"/>

  <label for="last-name">Last Name:</label>
  <input id= "last-name" type="text" name="last_name"/>

  <label for="pizza-select">Select a pizza:</label>
  <select id="pizza-select" name="topping">
    <option value = "Margarita">Margarita</option>
    <option value = "Calzone">Calzone</option>
  </select>

  <label for="quantity">Quantity</label>
  <input id="quantity" type="number" name="quantity"/>

  <input type="submit" value="Order Pizza"/>


</form>
