
body{
  font-family: Martel;
  justify-content: center;
  text-align: center;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin: 20px;
  padding-top: 20px;

  position: relative;
}

nav a {
  color: white;
  text-decoration: none;
  text-transform: none;
  font-size: 24px;
}

nav a :hover {
  color: white;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  width: 100%;
  background-color: white;

  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

form {
  color: white;
  font-size: 15px;
  font-weight: 700;
}

.yield {
  color: white;
  font-size: 60px;
  position: relative;
}

.title{
  color: white;
  font-weight: 900;
  font-size: 120px;
}

.subtitle{
  color: white;
  font-weight: 700;
  font-size: 42px;
  padding-top: 10px;
}

.background{
  background-image: url("https://food-images.files.bbci.co.uk/food/recipes/alpine_pizza_32132_16x9.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
  /* Fixed positon fills background with one image */
  position: fixed;
}

.scroll {

  justify-content: center;
  align-items: center;
  text-align: center;

  padding: 15px;
  background-position: center;
  background-color: rgba(255,250,250,0.6);
  width:320px;
  height:auto;
  position: relative;

}

p {
  color: white;
  font-weight: 700;
  font-size: 24px;
  line-height: 0.75;
}

/* Note */
/* Followed along a CSS tutorial on making a responsive nav bar */
/* https://www.youtube.com/watch?v=FEmysQARWFU */
